#pokemonCollection .pokemon {
  background: white;
  border: none;
  border-radius: 8px;
  margin: 10px;
  width: 100px;
  min-height: 100px;
}

#pokemonCollection .pokemon .button__description {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  top: 0;
  left: 0;
  color: #fff;
  visibility: hidden;
  text-align: center;
  font-size: 18px;
  line-height: 1.5em;
}

#pokemonCollection .pokemon:hover .button__description {
  visibility: visible;
  opacity: 1;
  background: rgba(173,0,0,.5);
    transition: box-shadow 0.3s ease-in-out;
    transition: 1s;
}

.battleMon .pokemon .attack,
.battleMon .pokemon .hp,
.battleMon .pokemon .type {
  display: inline-block;
  margin-right: 1em;
}